@model ServerSide.Models.Rating

@{
    ViewData["Title"] = "Create";
}

<span class="title">Create</span>
<hr />
<div class="row">
    <div class="col-md-4 rate-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rate" class="control-label"></label>
               @* <input asp-for="rate" class="form-control" />*@
                <span asp-validation-for="rate" class="text-danger"></span>
                <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
                <h1 className="stars-rating"></h1>
                <div class="product-review-stars">
                    <input type="radio" id="star5" name="rate" value="5" class="visuallyhidden" /><label for="star5">★</label>
                    <input type="radio" id="star4" name="rate" value="4" class="visuallyhidden" /><label for="star4">★</label>
                    <input type="radio" id="star3" name="rate" value="3" class="visuallyhidden" /><label for="star3">★</label>
                    <input type="radio" id="star2" name="rate" value="2" class="visuallyhidden" /><label for="star2">★</label>
                    <input type="radio" id="star1" name="rate" value="1" class="visuallyhidden" /><label for="star1">★</label>
                </div>
               
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
